@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

.card {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 15px 20px 40px rgba(51, 89, 158, 0.4);
  height: auto;
}

.card h2 {
  padding: 0.5rem 0rem;
  font-weight: 400;
  font-family: "Sarabun", serif;
}

.card h3 {
  font-weight: 400;
  font-family: "Sarabun", serif;
}

.imgContainer {
  position: relative;
}

.imgContainer img{
  width: 100%;
  height: auto;
}

.card:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.text {
  background: transparent;
  color: #fff;
}

.textContainer {
  cursor: pointer;
  position: absolute;
  background: transparent;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.25));
  width: 100%;
  bottom: 0;
  padding: 1rem;
  
}

.author {
  display: flex;
  align-items: center;
  background: transparent;
  color: #fff;
}

.author img {
  width: 2.5rem;
  height: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0rem 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .details{
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .author img{
    display: none;
  }
}